{%extends "layout.html" %}

{% block content %}
<div class="text-center mt-5">
  <form style="max-width:480px;margin:auto;" method="POST">
    <div class="text-center mb-4">
      <h1 class="h3 mb-3 font-weight-normal">{{ language['Declare-trust-ip'] }}: </h1>
    </div>
    <input hidden=true name="action" value="create">
    <input type="ip" id="inputIp" class="form-control mb-1" name="ip" value="{{ ip }}"
      placeholder="ip" required autofocus>
    <input type="description" class="form-control mb-1" name="description" value="{{ description }}"
      placeholder="{{ language['usefull-description'] }}" autofocus>
    <button class="btn btn-m btn-primary btn-block" type="submit">{{ language['Trust-me'] }}</button>
  </form>
</div>

{% if ips %}
<div class="container">
  <div class="table-responsive">
  <table class="table table-striped caption-top">
    <caption>{{ language['List-of-Ips'] }}</caption>
    <thead>
      <tr>
        <th scope="col">{{ language['User'] }}</th>
        <th scope="col">{{ language['IP'] }}</th>
        <th scope="col">{{ language['Origin'] }}</th>
        <th scope="col">{{ language['Description'] }}</th>
      </tr>
    </thead>
    <tbody>
      {% for ip in ips %}
      <tr>
        <td>{{ ip.owner.email }}</td>
        <td>{{ ip.value }}</td>
        <td>{{ ip.origin }}</td>
        <td>{{ ip.description }}</td>
        <td><form method="POST"><input hidden=true name="action" value="delete"><input hidden=true name="ip_id" value="{{ ip.id }}"><button class="btn btn-sm btn-primary btn-block" type="submit">Delete</button></form></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>
{% endif %}

{% endblock %}