<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MySafeip</title>
  <link href="/static/bootstrap.min.css" rel="stylesheet">
</head>

<body class="d-flex flex-column h-100" style="padding-bottom:70px;">
  <header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <div class="container">
        <a href="/" class="navbar-brand mb-0 h1"><img class="d-inline-block align-top" src="/static/icon.png" width="70"
            height="70">{{ language['website_title'] }}</a>
        {% if user.email%}
        <button type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" class="navbar-toggler"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span></button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="/ips/config/" class="nav-link">{{ language['safe_ip'] }}</a>
            </li>
            <li class="nav-item">
              <a href="/instant-access/config/" class="nav-link">{{ language['instant_links'] }}</a>
            </li>
            {% if user.is_admin %}
            <li class="nav-item">
              <a href="/users/read" class="nav-link">{{ language['Users'] }}</a>
            </li>          
            {% endif %}
            <li class="nav-item">
              <a href="/users/details/{{ user.id }}" class="nav-link">{{ language['My-account'] }}</a>
            </li>
          </ul>
          {% endif %}
        </div>
        <form class="d-flex" action="/lang/en" method="POST">
          <button type="submit" class="btn btn-outline-primary btn-sm m-1">EN</button>
        </form>
        <form class="d-flex" action="/lang/fr" method="POST">
          <button type="submit" class="btn btn-outline-primary btn-sm m-1">FR</button>
        </form>
        {% if user.email %}
        <form class="d-flex" action="/logout" method="GET">
          <button type="submit" class="btn btn-danger btn-sm m-1">{{ language['Logout'] }}</button>
        </form>
        {% else %}
        <form class="d-flex" action="/signin" method="GET">
          <button type="submit" class="btn btn-primary btn-sm m-1">{{ language['Login'] }}</button>
        </form>
        {% endif %}
      </div>
    </nav>
  </header>
  <main role="main class=" flex-shrink-0"">
    {% if language['success'] %}
    <div class="alert alert-success" role="alert">
      {{ language['success'] }}
    </div>
    {% endif %}
    {% if language['danger'] %}
    <div class="alert alert-danger" role="alert">
      {{ language['danger'] }}
    </div>
    {% endif %}
    {% if language['warning'] %}
    <div class="alert alert-warning" role="alert">
      {{ language['warning'] }}
    </div>
    {% endif %}

    <div class="container mt-5">
      {% block content %}
      {% endblock %}
    </div>
  </main>
  <footer class="fixed-bottom" style="background-color: #8b89899a;">
    <div class="container">
      <span class="text-muted">
        <p>{{ language['bottom-text'] }} <a
            href="https://github.com/yvguim/mysafeip">https://github.com/yvguim/mysafeip</a></p>
      </span>
    </div>
    <script src="/static/jquery.min-1.12.4.js"></script>
    <script src="/static/bootstrap.bundle.min.js"></script>
</body>

</html>