<html>
    <head>
        <title>MySafeip</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>

    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
              <a href="/" class="header item">
                <img class="logo" src="/static/icon.png">
                Mysafeip
              </a>
              <a href="/" class="item">Home</a>
              <div class="ui simple dropdown item">
                Admin <i class="dropdown icon"></i>
                <div class="menu">
                  <a class="item" href="/signin">Signin</a>
                  <a class="item" href="/logout">Logout</a>
                  <a class="item" href="/register">Register</a>
                  <div class="divider"></div>
                  <div class="header">Links</div>
                  <a class="item" href="/docs">Api doc</a>
                  <div class="item">
                    <i class="dropdown icon"></i>
                    Github
                    <div class="menu">
                      <a class="item" href="https://github.com/yvguim/mysafeip">Mysafeip</a>
                      <a class="item" href="https://github.com/yvguim/mysafeip-client">Mysafeip client</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <div class="ui container">
            <p> <h2>Mysafeip</h2>

                {% block content %}
                {% endblock %}
            </p>
          </div>

    </body>
</html>