<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MySafeip</title>
  <link href="/static/bootstrap.min.css" rel="stylesheet">
</head>

<body class="d-flex flex-column h-100" style="padding-bottom:70px;">
  <header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <div class="container">
        <a href="/" class="navbar-brand mb-0 h1"><img class="d-inline-block align-top" src="/static/icon.png" width="70"
            height="70"> Mysafeip (MIP)</a>
        {% if user.email%}
        <button type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" class="navbar-toggler"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">

            <li class="nav-item">
              <a href="/ips/create_ip/" class="nav-link">Add IP</a>
            </li>
            <li class="nav-item">
              <a href="/ips/get_ips/" class="nav-link">Get IP</a>
            </li>
           <!-- <li class="nav-item">
              <a href="/instant-link/create_links/" class="nav-link">Create instant links</a>
            </li>
            <li class="nav-item">
              <a href="/instant-link/get_links/" class="nav-link">Get instant links</a>
            </li>-->
            {% if user.is_admin %}
            <li class="nav-item">
              <a href="/users/read" class="nav-link">Users</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a href="/users/details/{{ user.id }}" class="nav-link">My account</a>
            </li>
            {% endif %}
          </ul>
          {% endif %}
        </div>{% if user.email %}
        <form class="d-flex" action="/logout" method="GET">
          <button type="submit" class="btn btn-danger">Log out</button>
        </form>
        {% else %}
        <form class="d-flex" action="/signin" method="GET">
          <button type="submit" class="btn btn-outline-primary btn-sm m-1">Login</button>
        </form>
        <form class="d-flex" action="/register" method="GET">
          <button type="submit" class="btn btn-outline-primary btn-sm m-1">Register</button>
        </form>
        {% endif %}
      </div>
    </nav>
  </header>
  <main role="main class=" flex-shrink-0"">
    {% if alert['success'] %}
    <div class="alert alert-success" role="alert">
      {{ alert['success'] }}
    </div>
    {% endif %}
    {% if alert['danger'] %}
    <div class="alert alert-danger" role="alert">
      {{ alert['danger'] }}
    </div>
    {% endif %}
    {% if alert['warning'] %}
    <div class="alert alert-warning" role="alert">
      {{ alert['warning'] }}
    </div>
    {% endif %}

    <div class="container mt-5">
      {% block content %}
      {% endblock %}
    </div>
  </main>
  <footer class="fixed-bottom" style="background-color: #8b89899a;">
    <div class="container">
      <span class="text-muted">
        <p>Mysafeip is an opensource project.
          New to Mysafeip? <a href="https://github.com/yvguim/mysafeip">Visit our github homepage</a></p>
      </span>
    </div>
    <script src="/static/jquery.min-1.12.4.js"></script>
     <script src="/static/bootstrap.bundle.min.js"></script>
</body>

</html>