{%extends "layout.html" %}

{% block content %}

<div class="content">
  <div class="ui middle aligned center aligned grid">
    <div class="column">
      <h2 class="ui teal image header">
        <div class="content">
          Register a new account
        </div>
      </h2>
      <form class="ui large form" method="POST">
        <div class="ui stacked segment">
          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input type="text" name="email" value="{{email}}" placeholder="E-mail address" >
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" name="password" value="{{password}}" placeholder="Password">
            </div>
          </div>
          <button type="submit" class="ui fluid large teal submit button">Register</button>
        </div>
  
        <div class="ui error message"></div>
  
      </form>
  
  </div>
  </div>

{% endblock %}