{%extends "layout.html" %}

{% block content %}
{% if user %}
<div class="text-center mt-5">
  <form style="max-width:480px;margin:auto;" method="POST">
    <div class="text-center mb-4">
      <h1 class="h3 mb-3 font-weight-normal">Reset password {{ user.email }}</h1>
    </div>
    <input type="password" id="inputPassword" class="form-control mb-3" name="password" value="{{password}}"
      placeholder="Password" required>
    <input type="password" id="inputPassword" class="form-control mb-3" name="confirm_password" value="{{confirm_password}}"
      placeholder="Confirm your password" required>
    <button class="btn btn-lg btn-warning btn-block" type="submit">Reset</button>
  </form>
</div>
{% endif %}
{% endblock %}