{%extends "layout.html" %}

{% block content %}
{% if user.email %}
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">{{ language['Authenticated'] }}</h1>
    <p class="lead text-muted">{{ language['Your-know-logged-as'] }} {{ user.email }} ;)</p>
    {% if user.twofactor == "" %}<p class="lead text-muted">{{ language['Consider-two-factor'] }}: <a href="/users/details/{{ user.id }}" class="nav-link">{{ language['My-account'] }}</a> </p>{% endif %}   
    <p>
      <a href="/ips/config" class="btn btn-primary my-2">{{ language['Declare-trust-ip'] }}</a>
      <a href="/instant-access/config" class="btn btn-success my-2">{{ language['Create-new-instant-link'] }}</a>
    </p>
  </div>
</section>
{% else %}
<div class="text-center mt-5">
  <form style="max-width:480px;margin:auto;" method="POST">
    <div class="text-center mb-4">
      <h1 class="h3 mb-3 font-weight-normal">{{ language['Login'] }}</h1>
      <p>{{ language['Register-help'] }} <a href="/register">{{ language['Registering'] }}</a>.
    </div>
    <input type="email" id="inputEmail" class="form-control mb-1" name="username" value="{{username}}"
      placeholder="{{ language['Email-address'] }}" required autofocus>
    <input type="password" id="inputPassword" class="form-control mb-3" name="password" value="{{password}}"
      placeholder="{{ language['Password'] }}" required>
      <input type="text" id="two_factor_auth" class="form-control mb-3" name="two_factor_code" value="{{twofactor}}"
      placeholder="{{ language['enter-otp-or-leave-empty'] }}" autocomplete="one-time-code">
    <button class="btn btn-m btn-primary btn-block" type="submit">{{ language['Login'] }}</button>
  </form>
</div>

{% endif %}




{% endblock %}