{%extends "layout.html" %}

{% block content %}
{% if users %}
<div class="container">
  <table class="table ">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Email</th>
        <th scope="col">is_admin</th>
      </tr>
    </thead>
    <tbody>
      {% for u in users %}
      <tr>
        <th scope="row">{{ u.id }}</th>
        <td>{{ u.email }}</td>
        <td>{{ u.is_admin }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}

{% endblock %}