{%extends "layout.html" %}

{% block content %}
{% if users %}
<div class="container">
  <div class="table-responsive">
    <table class="table table-striped caption-top">
      <caption>{{ language['List-of-users'] }}</caption>
      <thead>
        <tr>
          <th scope="col">{{ language['Email'] }}</th>
          <th scope="col">{{ language['Administrator'] }}</th>
          <th scope="col">{{ language['Delete-account'] }}</th>
          <th scope="col">{{ language['Reset-password'] }}</th>
        </tr>
      </thead>
      <tbody>
        {% for u in users %}
        <tr>
          <td>{{ u.email }}</td>
          <td>{{ u.is_admin }}</td>
          <td>
            <form method="POST"> <input hidden=true name="email" value="{{ u.email }}"><button
                class="btn btn-sm btn-danger btn-block" type="submit">{{ language['Delete-account'] }}</button></form>
          </td>
          <td>
            <form method="GET" action="/users/reset_password/{{ u.id }}"><button
                class="btn btn-sm btn-primary btn-block" type="submit">{{ language['Reset-password'] }}</button></form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endif %}

{% endblock %}