{%extends "layout.html" %}

{% block content %}
{% if user %}
<div class="text-center mt-5">
  <form style="max-width:480px;margin:auto;" method="POST">
    <div class="text-center mb-4">
      <h1 class="h3 mb-3 font-weight-normal">{{ language['My-account'] }}</h1>
      </h1>
    </div>
    <p> {{ language['Your-mail-address-is'] }}: {{ user.email }}</p>
    {% if user.is_admin %}
    <p> {{ language['Your-role-is'] }}: {{ language['administrator'] }}</dp>
      {% else %}
    <p> {{ language['Your-role-is'] }}: {{ language['normal-user'] }}</p>
    {% endif %}

    <form method="POST">
      <div class="form-check">
        {% if user.twofactor %}
        <p>{{ language['Activate-2FA-authentication'] }}<input class="form-check-input" type="checkbox" value="true" name="twofactor" id="twofactor" checked></p>
        {% else %}
        <p>{{ language['Activate-2FA-authentication'] }}<input class="form-check-input" type="checkbox" value="true" name="twofactor" id="twofactor"></p>
        {% endif %}
        <p><button class="btn btn-sm btn-primary btn-block" type="submit">{{ language['Save'] }}</button></p>
    </form>
  
      {% if twofactorurl %}
    <div class="jumbotron">
      <p class="lead">{{ language['twofactor-advice'] }}.</p>
      <hr class="my-4">
      <p> {{ language['2fa-secret'] }}: {{ user.twofactor }}
        <script src="/static/qrcode.min.js"></script>

      <p>
      <div id="qrcode" align="center">
        <script type="text/javascript">
          new QRCode(document.getElementById("qrcode"), "{{ twofactorurl }}");
        </script>
      </div>
      </p>
      {% endif %}
    </div>

</div>
{% endif %}
{% endblock %}